<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ авиабилетов</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Главная</a>
        <a href="/search">Поиск билетов</a>
    </nav>
    <h1>Добро пожаловать в систему заказа авиабилетов</h1>
</body>
</html>