body {
    background-color: #FCE4EC; /* Светлый фон страницы */
    color: #333; /* Темный текст */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Современный шрифт */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #F48FB1; /* Розовый цвет заголовка */
    text-align: center; /* Центрирование заголовка */
}

nav {
    text-align: center; /* Центрирование навигации */
    margin-bottom: 20px; /* Отступ снизу */
}

nav a {
    color: #F48FB1; /* Розовый цвет ссылок */
    text-decoration: none;
    margin: 0 15px; /* Отступ между ссылками */
    font-weight: bold; /* Жирный шрифт для ссылок */
}

nav a:hover {
    text-decoration: underline; /* Подчеркивание при наведении на ссылку */
}

form {
    background-color: #FFFFFF; /* Белый фон для формы */
    padding: 20px;
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
    max-width: 500px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами полей */
}

label {
    color: #F48FB1; /* Розовый цвет надписей */
    display: block; /* Блоковое отображение для меток */
}

input, select {
    width: calc(100% - 22px); /* Полная ширина минус отступы */
    padding: 10px;
    border: 1px solid #F8BBD0; /* Розовая рамка для полей ввода */
    border-radius: 5px; /* Закругленные углы */
    background: #FCE4EC; /* Светло-розовый фон для полей ввода */
    color: #333; /* Темный текст в полях ввода */
    box-sizing: border-box; /* Учитывать padding и border в расчете ширины */
}

button {
    background-color: #F8BBD0; /* Розовая кнопка */
    color: #ffffff; /* Белый текст на кнопке */
    border: none;
    padding: 10px 0; /* Убираем дополнительно padding по бокам */
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Полная ширина кнопки */
    font-size: 16px; /* Размер шрифта кнопки */
}

button:hover {
    background-color: #F48FB1; /* Более темный розовый при наведении */
}